<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Django</a></li>
                <li class="nav-item"><a href=" {% url 'admin:index' %} " class="nav-link">Admin</a></li>
                <li class="nav-item"><a href="{% url 'basic_app:register' %}" class="nav-link">Register</a></li>
                
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'basic_app:user_login' %}" class="nav-link">Login</a></li>

                {% endif %}

            </ul>
        </nav>
    </div>
    <div class="container">
        {% block body_block %}

        {% endblock %}
    </div>

</body>
</html>